STRIPE_PUBLISHED_KEY=pk_test_....
STRIPE_SECRET_KEY=sk_test_....
SECRET_KEY='django-insecure....'


FRONTEND_URL=localhost:5173

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=1234

DATABASE_NAME=stripeDB
DATABASE_USER=admin
DATABASE_PASSWORD=1234
DATABASE_HOST=db
