STRIPE_PUBLISHED_KEY=pk_test_....
STRIPE_SECRET_KEY=sk_test_....
SECRET_KEY='django-insecure....'

VITE_API_URL=http://localhost:8000/api/v1/
VITE_MEDIA_URL=http://localhost:8080

FRONTEND_URL=localhost:5173

DJANGO_SUPERUSER_USERNAME=USER_NAME
DJANGO_SUPERUSER_PASSWORD=PASSWORD

DATABASE_NAME=DATABASE_NAME
DATABASE_USER=DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_HOST=db
DATABASE_PORT=5432